= javascript_include_tag "answers/ui/accordion"

%h1 アコーディオン

.accordion-handdle{ data: { target: 1 } }
  タイトル
.accordion-body{ data: { target: 1 }, "aria-disabled": "true" }
  あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

.accordion-handdle{ data: { target: 2 } }
  タイトル
.accordion-body{ data: { target: 2 }, "aria-disabled": "true" }
  あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。