%h1.lecture-title.-h1 github API を利用する

%div{ data: { controller: "answers--github" } }
  .github-form
    %input{ type: "text", name: "username", data: { target: "answers--github.username" } }
    %button{ type: "button", data: { action: "click->answers--github#getUser" } } 送信

  .github-async-result
    %div{ data: { target: "answers--github.user" } } 