%h1 github API を利用する

%div{ data: { controller: "github" } }
  .astync-action
    %input{ type: "text", name: "username", data: { target: "github.username" } }
    %button{ type: "button", data: { action: "click->github#getUser" } } 送信

  .astync-action-result
    %div{ data: { target: "github.user" } } 