.lecture-title {
  font-weight: bold;
  &.-h1 {
    font-size: 2.4rem;
    border-bottom: 1px solid #ac8c4b;
    margin-bottom: 1.2em;
  }
  &.-h2 {
    font-size: 2.4rem;
    border-bottom: 1px solid #e2d6bd;
    margin-bottom: 0.8em;
  }
  &.-h3 {
    font-size: 2.0rem;
    border-bottom: 1px solid #e2d6bd;
    margin-bottom: 0.4em;
  }
  &.-h4 {
    font-size: 1.6rem;
    margin-bottom: 0.4em;
  }
}

.lecture-lead {
  line-height: 1.8;
}

.lecture {
  border: 1px solid #cab68c;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 6px 7px 0 rgba(59, 75, 91, .2);

  & + & {
    margin-top: 3em;
  }
}

.lecture-block {
  & + & {
    margin-top: 1em;
  }
}