%h1.lecture-title.-h1 Training JavaScript 2019

.lecture
  %h2.lecture-title.-h2 UIを作る１
  %p.lecture-lead
  %h3.lecture-title.-h3 アコーディオン

  .lecture-block.-practice
    %h4.lecture-title.-h4 練習用
    %ul
      %li
        %a{ href: "practice/ui/accordion/index.html" } 素のJavaScript

  .lecture-block.-answer
    %h4.lecture-title.-h4 解答例
    %ul
      %li
        %a{ href: "answers/ui/accordion/index.html" } 素のJavaScript

.lecture
  %h2.lecture-title.-h2 UIを作る２
  %p.lecture-lead
  %h3.lecture-title.-h3 アコーディオン（Stimulus）

  .lecture-block.-practice
    %h4.lecture-title.-h4 練習用
    %ul
      %li
        %a{ href: "practice/ui/accordion-stimulus/index.html" } Stimulus版

  .lecture-block.-answer
    %h4.lecture-title.-h4 解答例
    %ul
      %li
        %a{ href: "answers/ui/accordion-stimulus/index.html" } Stimulus版

.lecture
  %h2.lecture-title.-h2 UIを作る３
  %p.lecture-lead
  %h3.lecture-title.-h3 ダイアログ

  .lecture-block.-answer
    %h4.lecture-title.-h4 解答例
    %ul
      %li
        %a{ href: "answers/ui/dialog/index.html" } Stimulus版

.lecture
  %h2.lecture-title.-h2 UIを作る４
  %p.lecture-lead
  %h3.lecture-title.-h3 github を利用する

  .lecture-block.-answer
    %h4.lecture-title.-h4 解答例
    %ul
      %li
        %a{ href: "answers/async/index.html" } githubを利用した例