%h1 Training JavaScript 2019

.lecture
  %h2 UIを作る
  %p.lecture-lead

  %h3 アコーディオン
  %p.lecture-lead

  .lecture-block
    %h4.lecture-title 練習用
    %ul
      %li
        %a{ href: "practice/ui/accordion/index.html" } 素のJavaScript
      %li
        %a{ href: "practice/ui/accordion-stimulus/index.html" } Stimulus版

  .lecture-block
    %h4.lecture-title 解答例
    %ul
      %li
        %a{ href: "answers/ui/accordion/index.html" } 素のJavaScript
      %li
        %a{ href: "answers/ui/accordion-stimulus/index.html" } Stimulus版

  %h3 ダイアログ
  %p.lecture-lead

  .lecture-block
    %h4.lecture-title 解答例
    %ul
      %li
        %a{ href: "answers/ui/dialog/index.html" } Stimulus版